@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100vh;
    overflow: hidden;
}

input{
    background-color: white;
    border-radius: 15px;
    width: 300px;
    padding: 0.7em;
    outline: none;
    border: none;
    border: 1px solid #D8E0E5;
}

input:focus{
    outline: none;
}

h1{
    color: black;
    font-family: "Titillium Web", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#tg_psw_box{
    width: 67%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#tg_psw_btn{
    right: 0;
    height: 2.4em;
    aspect-ratio: 2/1;
    border-radius: 15px;
    background-color: #3290EC;
    outline: none;
    width: 320px;
    border: none;
    color: white;
}

#tg_psw_btn:hover{
    cursor: pointer;
}

.login_box{
    display: flex;
    background-color: white;
    border-radius: 25px;
    width: 70%;
    height: 70%;
}

.qr_box{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password_required{
    animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
    0% { transform: translateX(0em); }
    25% { transform: translateX(0.5em); }
    75% { transform: translateX(-0.5em); }
    100% { transform: translateX(0em); }
}

