*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100vh;
    overflow: hidden;
}

input {
    background-color: white;
    border-radius: 15px;
    width: 300px;
    padding: 0.7em;
    outline: none;
    border: none;
    border: 1px solid #D8E0E5;
}

input:focus{
    outline: none;
}

.big_text{
    font-size: 28px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600
}

.medium_text{
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
}

.small_text{
    opacity: 0.8;
    font-size: 12px;
    padding-top: 2px;
    font-family: "Titillium Web", sans-serif;
}

.apis_box{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    width: 70%;
    height: 70%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    height: 47%;
}

form input[type="submit"]{
    background-color: #34CC98;
    color: white;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    cursor: pointer;
}

h1{
    margin-bottom: 20px;
}
